<%- include layout/header %>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="example-text-input" class="col-form-label">Tên Danh Mục</label>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="txtName" placeholder="Nhập Tên Danh Mục">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-primary" id="btnAdd">Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include layout/footer %>