 <!--=================================*
                  Footer Section
    *===================================-->
    <footer>
        <div class="footer-area">
            <p>&copy; Copyright 2019. Bản quyền bới Huỳnh Vinh</p>
        </div>
    </footer>
    <!--=================================*
                End Footer Section
    *===================================-->
</div>
<!--=========================*
        End Page Container
*===========================-->

<!--=========================*
            Scripts
*===========================-->

<!-- Jquery Js -->
<script src="/js/jquery.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Owl Carousel Js -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Metis Menu Js -->
<script src="/js/metisMenu.min.js"></script>
<!-- SlimScroll Js -->
<script src="/js/jquery.slimscroll.min.js"></script>
<!-- Slick Nav -->
<script src="/js/jquery.slicknav.min.js"></script>
<!-- start amchart js -->
<script src="/vendors/am-charts/js/ammap.js"></script>
<script src="/vendors/am-charts/js/worldLow.js"></script>
<script src="/vendors/am-charts/js/continentsLow.js"></script>
<script src="/vendors/am-charts/js/light.js"></script>
<!-- maps js -->
<script src="/js/am-maps.js"></script>

<!--Morris Chart-->
<script src="/vendors/charts/morris-bundle/raphael.min.js"></script>
<script src="/vendors/charts/morris-bundle/morris.js"></script>

<!--Chart Js-->
<script src="/vendors/charts/charts-bundle/Chart.bundle.js"></script>

<!--Sparkline Chart-->
<script src="/vendors/charts/sparkline/jquery.sparkline.js"></script>

<!--Home Script-->
<script src="/js/home.js"></script>
<!-- Main Js -->
<script src="/js/main.js"></script>
</body>
</html>
<%- include script%>

